
.custom-table{
    width: 65%;
    text-align: center;
    margin: 20px auto;
    position: absolute;
    top : 250px;
    left: 0;
    right: 0;
    

}
.todos{
    display: block;
}
.inputC{
    text-decoration: line-through;
}